* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: inherit;
}
html {
    font-size: 0.9rem;
    font-family: 'exo_2.0black', Arial, sans-serif;
    max-width: 1920px;
    min-width: 760px;
    margin: 0 auto;
   }
.inner{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        position: relative;
    }

/* _________________    header_______________________ */

.header{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background: #f5f5f5;
    position: fixed;
    top:0;
    z-index: 30;
    font-family: 'exo_2.0black', Arial, sans-serif;
}

/* ________logo_________ */

.logo{
    position: absolute;
    top:1.313rem;
    left: 0.9375rem;
}
.logo > img,
.logo-white > img {
    width:8rem;
    height:1.688rem;
}

/* ________menu_________ */

.menu{
    width: 100%;
    margin: 0 auto;
    text-align:center;
    padding-left: 0;
    font-size: 0;
}
.menu li{
    display: inline-block;}

.menu a, .header-menu-small a{
    font-size: 1rem;
    line-height: 4.25rem;
    text-align:center;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    padding: 0 1.563rem;
    display: block;
    border: 1px solid #f5f5f5;
    }
.header-menu-small{
    position: absolute;
    top: 4.375rem;
    right: 0.9375rem;
    background: #f5f5f5;
    z-index: 20;
    visibility: hidden;
}
.header-menu-small li{
    border-top: 1px solid black;
    font-size: 1rem;
    line-height: 4.25rem;
    text-align:center;
    width: 15.63rem;
    list-style: none;
}
.menu a:hover{
    background:#dfdfdf;
    border: 1px solid black;
    }
.menu a:hover .header-menu-small{
    top: 4.375rem;
}
.header-menu-small a:hover{
    background:#dfdfdf;
}
.icon-menu-wrap{
    width: 4.375rem;
    height: 4.375rem;
    float: right;
    display: none;
    margin-right: 0.9375rem;
}
.icon-menu-wrap:hover{
    background:#dfdfdf;
    border: 1px solid black;
}
.icon-menu-wrap:hover .header-menu-small{
  visibility: visible;
}
.header-menu-small{
    display: none;
}


                          /*Section_1*/

.section-home {
    position: relative;
    height: 100vh;
    min-height: 610px;
    overflow: hidden;
 }
.owl-carousel{
    margin-top: 4.375rem;
    display: table;
    width: 100%;
    position: relative;
}
.item {
    height: calc(100vh - 4.375rem);
    min-height: 550px;
    background-position: center;
    background-size: cover;
    display: table;
    width: 100%;
    overflow: hidden;
}

.inner-slider {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.rhombus{
    width: 30rem;
    height: 30rem;
    border: 1px solid rgba(255, 255, 255, 0.8);
    display:inline-block;
    /*margin: 4.375rem auto;*/
    position: relative;
    /*transform: translate(112%, 50%) rotate(45deg);*/
}
.text-slider{
    color: white;
    text-align: center;
    width: 37rem;
    display: block;
    margin-left: -3.1rem;
    margin-top: 10rem;
}
h2{
    font-family: 'exo_2.0black', Arial, sans-serif;
    font-size: 2.88rem;
    line-height: 2.63rem;
    text-transform: uppercase;
    font-weight: 900;
    /*margin: 10rem 3rem 0;*/
}
i {
    width: 0.5rem;
    height: 0.5rem;
    background: white;
    display: inline-block;
    margin: 1.875rem 0.25rem;
    line-height: 1.875rem;
    transform: rotate(45deg);
}
.subtitle,
.description {
   font-family: 'Exo 2', Arial, sans-serif;
}

/* ______________________buttons_______________ */

.owl-prev,.owl-next {
    position: absolute;
    font-size: 3.75rem;
    line-height: 1;
    bottom: calc(50% + 2.33rem);
    color: #fff;
    z-index: 20;
    /*background-color: red;*/
    width: 0;
    height: 0;

}

.owl-prev {
    left: 1.7rem;
}
.owl-next {
    right: -1.7rem; /* -1.9 */
}
.owl-prev:before, .owl-next:before{
    content: '';
    position: absolute;
    width: 4.668rem;
    height: 4.668rem;
    border: 1px solid rgba(255, 255, 255, 0.8);
    display:block;
    transform: rotate(45deg);
    overflow: hidden;
}
.owl-prev:before{
    left: -2.625rem;
}
.owl-next:before{
    right: 0.625rem;
}
.owl-prev:after {
    font-family: fontello;
    content: '\e801';
    position: absolute;
    font-size: 1.6rem;
    line-height:4.668rem;
    right: 0;
}
.owl-next:after{
    font-family: fontello;
    content: '\e800';
    position: absolute;
    font-size: 1.6rem;
    line-height:4.668rem;
    right: 2.6rem;
}
.owl-prev:hover:before,
.owl-next:hover:before{
    background: rgba(255, 255, 255, 0.2);
}
.rh-button-absolute{
    position: absolute;
    bottom:0;
    right:0;
}
.icon{
    display: block;
    text-decoration: none;
}
.rh-button {
    width: 4.668rem;
    height: 4.668rem;
    border: 1px solid rgba(255, 255, 255, 0.8);
    display:inline-block;
}
.rh-button:hover{
    background: rgba(255, 255, 255, 0.2);
    z-index: 10;
}
.rotate-right{
    transform: rotate(45deg);
}
.rotate-left{
    transform: rotate(-45deg);
}

/* _________end buttons */

.rhombus-translate-rotate{
    transform: translateX(-40%) rotate(45deg);
}



                                                            /*Section 2 About us*/

.about{
    height: 100vh;
    max-height: 1000px;
    /*min-height: 550px;*/
    background-color: #cbcbcb;
    position: relative;
    padding-top:4rem;
}
.about>.inner,
.features>.inner{
    display:table;
    width: 100vw;
    min-width: 760px;
    height: 100%;
}
.black>i{
    background: black;
}
.scroll,
.scroll-down{
    position: absolute;
    right:calc(50% - 3.313rem);
    z-index: 10;
}
.scroll{
    top:-3.313rem;
}
.scroll > img{
    width: 6.625rem;
    height: 6.625rem;
}
.scroll-down{
    width: 4.668rem;
    height: 4.668rem;
    bottom:-2.334rem;
    background-color: #cd2929;
    display: block;
}
.icon-down-open-big:before {
    transform: rotate(-45deg) translateY(0.3rem);
}
.about-us-text{
    text-align: center;
    color: black;
    display: table-cell;
    vertical-align: middle;
}
.logo-white{
    margin: 2.5rem 2.5rem 3rem;

}

/* ______________social icons________________ */
.social-icons .rh-button {
    margin: 0 1.8rem;
    transform: rotate(45deg);
}
.social-icons .rh-button:hover{
    background: rgba(26, 180, 239, 0.2);

    border-color: #1ab4ef;
    z-index: 10;
}
.social-icons [class*="icon-"]:before {
    transform: rotate(-45deg);
    /*color:red;*/
}
.social-icons [class*="icon-"]:hover:before {
    color: #1ab4ef;
}

/* ___________________features, portfolio section________________________ */

.features {
    background: url(../img/bg-portfolio.png) 0 0;
    padding: 6.25rem 0;
}
.features-text,
.skills-text{
    text-align: center;
    color: black;
    display: block;
}
.menu-portfolio{
    display: table;
    margin-bottom: 3rem;
}
.menu-portfolio>li {
    display:table-cell;
    text-align:center;
    white-space:nowrap;
}
.menu-portfolio a{
    padding: 0;
    line-height: 2.19rem;
    border: 1px solid black;
}
.menu-portfolio a:hover {
     background: #dfdfdf;
 }

                           /*Rhombus_photogallery*/

.features .container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}
.portfolio-item {
    width: 22%;
    padding: 11% 0;
    float:left;
    border: 1px solid black;
    transform: rotate(-45deg);
    position: relative;
    overflow: hidden;

}
.portfolio-img{
    transform: rotate(45deg);
    position: absolute;
    width: 142%;
    height: 142%;
    top: -21%;
    left: -21%;
}
.portfolio-img:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33,33,33,.7);
}

.portfolio-info {
    display: none;
    /*position: absolute;*/
    /*transform: rotate(45deg) translateY(-140%);*/
    text-align: center;
    /*bottom: 0;*/
    height: 100%;
    background: rgba(33,33,33,.95);
    position: relative;
}
.portfolio-info p {
    font-size: 1.5rem;
    text-transform: uppercase;
    display: block;
    color:#f5f5f5;
    padding-top: 45%;
}
.portfolio-item i {
    background-color: #cd2929;
    margin-top: 0.7rem;
}
.portfolio-img:hover .portfolio-info {
    display: block;
}
.portfolio-img:hover:before {
    display: none;
}
.portfolio-button {
    position: absolute;
    bottom:calc(3.26rem * 0.42);
    right: calc(50% - 1.63rem);
    width: 3.26rem;
    height: 3.26rem;
    border: 1px solid #cd2929;
    display:block;
    color: #cd2929;
}
.portfolio-button:hover{
    background: #cd2929;
   color: #ffffff;
}


.portfolio-item:nth-of-type(5n + 1),
.portfolio-item:nth-of-type(5n + 2){
    margin-right:  calc((11% * 1.42) - 11% + 3.1%);
    margin-top: calc((11% * 1.42) - 11%);
    margin-left: calc((11% * 1.42) - 11%);
}
.portfolio-item:nth-of-type(5n + 3){
    margin-top: calc((11% * 1.42) - 11%);
    margin-left: calc((11% * 1.42) - 11%);
}



.portfolio-item:nth-of-type(5n + 4){
    margin-right:  calc((11% * 1.42) - 11% + 3.1%);
    margin-left: calc((11% * 1.42) - 11% + (11% * 1.42) + 1.55%);
    margin-top: calc((((11% * 1.42) - 11%)) * (-1));
}
.portfolio-item:nth-of-type(5n + 5){
    margin-top: calc((((11% * 1.42) - 11%)) * (-1));
    margin-left: calc((11% * 1.42) - 11%);

}
.portfolio-item:nth-of-type(6),
.portfolio-item:nth-of-type(7),
.portfolio-item:nth-of-type(8),
.portfolio-item:nth-of-type(11),
.portfolio-item:nth-of-type(12),
.portfolio-item:nth-of-type(13){
    margin-top: calc((((11% * 1.42) - 11%)) * (-1));
}

.portfolio-img:nth-of-type(1){
     background: url("../img/wood.jpg") no-repeat 50% 50%;
     background-size: cover;
 }
.portfolio-img:nth-of-type(2){
    background: url("../img/wood.jpg") no-repeat 50% 50%;
    background-size: cover;
}

                                                  /*Rhombus_progress*/
.skills {
    background: url(../img/bg-portfolio.png) 0 0;
    min-height: 100vh;
    padding-top: 8.2rem;
    padding-bottom: 2.5rem;
}
.rhombus_wrap{
    display: inline-block;
    margin-right: calc((100% - 5*7.875rem)/4);
}
.rhombus_progress{
    width: 100%;
    height: 18.75rem;
    font-size: 0;
}
.rhombus_border{
    border: 1px solid #cd2929;
    height: 6.25rem;
    /*margin: 250px auto;*/
    overflow: hidden;
    position: relative;
    transform: rotate(225deg);
    transform-origin: 50% 50% 0;
    width: 6.25rem;
    display:inline-block;
    margin-top: 5rem;
    /*margin-right: calc((100% - 5*110px)/4);*/
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.rhombus_animate {
    background-color: #cd2929;
    width: 8.875rem;
    height: 8.875rem;
    left: -3.125rem;
    position: absolute;
    top: 3.125rem;
    transform: rotate(-45deg);
    transform-origin: 0 0 0;
}
/*.rhombus_progress>div{
    display: inline-block;
    margin-top: 80px;
    margin-right: calc((100% - 5*110px)/4);
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}*/
.rhombus_wrap:nth-of-type(5)
{
    margin-right: 0;
}
.rhombus_wrap:nth-of-type(1)
{
    margin-left: 1.25rem;
}
.rhombus_skill {
    font-size: 2.5rem;
    color: #f5f5f5;
    line-height: 6.25rem;
    text-align: center;
    transform: rotate(135deg);
    vertical-align: middle;
}
.rhombus_title {
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-left: -1.313rem;
    color: black;
    width: 8.875rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
/*.rhombus_title:nth-of-type(1){
    margin-left: -21px;
}*/
.rhombus_animate_designing {
    animation: progress_up_designing 5s forwards;
}
.rhombus_animate_developing {
    animation: progress_up_developing 5s forwards;
}
.rhombus_animate_marketing {
    animation: progress_up_marketing 5s forwards;
}
.rhombus_animate_consulting {
    animation: progress_up_consulting 5s forwards;
}
.rhombus_animate_branding {
    animation: progress_up_branding 5s forwards;
}
@-moz-keyframes progress_up_designing{
    0% {height: 0;}
    100% {height: calc(8.875rem * .95);}
}
@-moz-keyframes progress_up_developing{
    0% {height: 0;}
    100% {height: calc(8.875rem * .77);}
}
@-moz-keyframes progress_up_marketing{
    0% {height: 0;}
    100% {height: calc(8.875rem * .62);}
}
@-moz-keyframes progress_up_consulting{
    0% {height: 0;}
    100% {height: calc(8.875rem * .99);}
}
@-moz-keyframes progress_up_branding{
    0% {height: 0;}
    100% {height: calc(8.875rem * .85);}
}
@-webkit-keyframes progress_up_designing{
    0% {height: 0;}
    100% {height: calc(8.875rem * .95);}
}
@-webkit-keyframes progress_up_developing{
    0% {height: 0;}
    100% {height: calc(8.875rem * .77);}
}
@-webkit-keyframes progress_up_marketing{
    0% {height: 0;}
    100% {height: calc(8.875rem * .62);}
}
@-webkit-keyframes progress_up_consulting{
    0% {height: 0;}
    100% {height: calc(8.875rem * .99);}
}
@-webkit-keyframes progress_up_branding{
    0% {height: 0;}
    100% {height: calc(8.875rem * .85);}
}


                                                      /*Progress_line*/

.wrap_progress{
    width: calc(100% - 1.313rem);
    height: 2.635rem;
    border: 1px solid #cd2929;
    border-right: none;
    font-size: 0;
    display: inline-block;
    position: relative;
    /*overflow: hidden;*/
    margin-bottom: 0.3125rem;
}
.progress{
    width: 0;
    height: 2.5rem;
    background-color: #cd2929;
    display: inline-block;
    vertical-align: top;
    position: relative;
    }
.progress_1{
    animation: progress_1 5s forwards;
    -webkit-animation: progress_1 5s forwards;
}
.progress_2{
    animation: progress_2 5s forwards;
    -webkit-animation: progress_2 5s forwards;
}
.progress_3{
    animation: progress_3 5s forwards;
    -webkit-animation: progress_3 5s forwards;
}
.progress_4{
    animation: progress_4 5s forwards;
    -webkit-animation: progress_4 5s forwards;
}
@-moz-keyframes progress_1{
    0% {width: 0;}
    100% {width: 65%;}
}
@-webkit-keyframes progress_1 {
    0% {width: 0;}
    100% {width: 65%;}
}
@-moz-keyframes progress_2 {
    0% {width: 0;}
    100% {width: 85%;}
}
@-webkit-keyframes progress_2 {
    0% {width: 0;}
    100% {width: 85%;}
}
@-moz-keyframes progress_3 {
    0% {width: 0;}
    100% {width: 95%;}
}
@-webkit-keyframes progress_3 {
    0% {width: 0;}
    100% {width: 95%;}
}
@-moz-keyframes progress_4 {
    0% {width: 0;}
    100% {width: 77%;}
}
@-webkit-keyframes progress_4 {
    0% {width: 0;}
    100% {width: 77%;}
}

.wrap_progress_hidden{
    overflow: hidden;
    width: 100%;
}
.progress:before, .wrap_progress:before {
    content: '';
    position: absolute;
    top: -0.65px;
    left: 100%;
    border-left: 1.313rem solid #cd2929;
    border-top: 1.313rem solid transparent;
    border-bottom: 1.313rem solid transparent;
}
.progress:before {
    z-index: 10;
}

.wrap_progress:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    border-left: 1.25rem solid #f5f5f5;
    border-top: 1.25rem solid transparent;
    border-bottom: 1.25rem solid transparent;
}
.progress>div {
    font-size: 1.188rem;
    color: white;
    line-height: 2.5rem;
    text-transform: uppercase;
    display: inline-block;
}
.wrap_progress .progress .skill{
    float: left;
    margin-left: 1rem;
}
.wrap_progress .progress .percent{
    float: right;
    margin-right: 1rem;
}

                                                                    /*Media Screen*/

@media screen and (max-width: 991px) {
    .menu,
    .menu-portfolio,
    .scroll,
    .owl-prev,
    .owl-next{
        display: none!important;
    }
    .icon-menu-wrap,
    .header-menu-small{
        display: block;
    }
    .menu-portfolio {
        margin-bottom: 1rem;
    }
    html {
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 1200px) {

    html {
        font-size: 0.8rem;
    }
}